
.fire{
    display:block;
    width:70% !important;
    height:70% !important;
    margin-left: 120% !important;
    margin-top: 100px !important;
}
.user{
    margin-top: -400px;
    margin-left: 23%;
    font-size:20px;
}

.get{
    
    margin-left: 13%;
}


@media only screen and (max-width: 768px){
        .fire{
            display: none;
        }
        
        .user{
            margin-top: 20px;
            margin-left: 25%;
        }
    
        .get{
            width: 100% !important;
            margin-left: 0% !important;
            margin-top: -10px;
        }
    
        }
        @media only screen and (max-width: 992px){
            .fire{
                display: none !important;
            }
            .user{
                margin-top: 3%;
                margin-left: 45%;
            }
            .get{
                width: 90% !important;
                margin-left: 10%;
                margin-top: -10px;
            }
        
            }        