.center{
    margin-left: 90px;
}



.serviceType {
    width: 30%;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
  }

  
  .serviceType:focus {
    background-color: #ddd;
    outline: none;
  }