.taskbar {
    height:50px;
    width: 1000px;
    background-color:#EB8F8F;
    display: flex;
    justify-content: space-evenly; 
}

.taskbar a{
    margin-top: 10px;
    display: inline-block;
    background: transparent;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.taskbar a:active {
    color: black;
    background-color: yellow;
}

.taskbar a:hover {
    font-size: large;
}