.data{
    display:block;
    width: 35%; 
    border-radius: 5px;
    border: 3px solid;
    border-color: #DC3545;
    margin-left: 20%;
    margin-top:20px;
    text-align: center;
    box-shadow: 0px 13px 10px -7px rgb(114, 113, 113);
}

.data-1{
    margin-top: -2%;
    margin-left: 20%;;
}

#containerS{
    margin-left: 35%;
    margin-top: 3%;
    text-transform: capitalize;
}

@media(max-width: 360px){
    #containerS{
        width: 90% !important;
        margin-left: 5%;
    }

    .data{
        width: 100%;
        margin-left: -12%;
        
    }
    
  }