.profile{
    display: block !important;
    padding: 5px 5px !important;
    margin-left: 35% !important;
    margin-top: 3%;
    border-radius:5px !important;
}


@media(max-width: 360px){
    .profile{
        
        margin-left: 35% !important;
        margin-top: 0%;
    }
    .width{
        width: 120% !important;
    }
    
  }